.ReactTable.-inline {
  display: inline-flex;
}

/* Table headers */
.ReactTable .rt-thead {
  font-weight: 600;
}

.ReactTable .rt-th,
.ReactTable .rt-td {
  padding: 7px 8px;
}

.ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead .rt-td {
  padding: 6px 8px;
}

.ReactTable.-compact .rt-th,
.ReactTable.-compact .rt-td,
.ReactTable.-compact .rt-thead .rt-th,
.ReactTable.-compact .rt-thead .rt-td {
  padding: 4px 6px;
}

/* Selectable cells */
.ReactTable .rt-td.rt-select,
.ReactTable .rt-th.rt-select,
.ReactTable .rt-thead .rt-td.rt-select,
.ReactTable .rt-thead .rt-th.rt-select {
  padding: 0;
}

.ReactTable .rt-th-select-label {
  padding: 5px 8px;
  margin: 0;
}

.ReactTable .rt-td-select-label {
  padding: 7px 8px;
  margin: 0;
}

.ReactTable.-compact .rt-td-select-label,
.ReactTable.-compact .rt-th-select-label {
  padding: 3px 6px;
  margin: 0;
}

/* Pagination */
.ReactTable .-pagination {
  box-shadow: inherit;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.ReactTable .-pagination .-center {
  flex-wrap: nowrap;
}

/* Column alignment */
.ReactTable .rt-col-left {
  text-align: left;
}

.ReactTable .rt-col-right {
  text-align: right;
}

.ReactTable .rt-col-center {
  text-align: center;
}

/* Bordered/outlined styles */

/* Table */
.ReactTable {
  border: none;
}

.ReactTable.-outlined,
.ReactTable.-bordered {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* Headers and footers */
.ReactTable .rt-thead.-header {
  box-shadow: inherit;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.ReactTable.-striped .rt-thead.-header,
.ReactTable.-outlined .rt-thead.-header,
.ReactTable.-bordered .rt-thead.-header {
  border-bottom-width: 1px;
}

.ReactTable .rt-tfoot {
  box-shadow: inherit;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* Cells */
.ReactTable.-bordered .rt-thead .rt-th,
.ReactTable.-bordered .rt-thead .rt-td,
.ReactTable.-bordered .rt-tbody .rt-td,
.ReactTable.-bordered .rt-tfoot .rt-td {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead .rt-td,
.ReactTable .rt-tbody .rt-td,
.ReactTable .rt-tfoot .rt-td,
.ReactTable.-borderless .rt-thead .rt-th,
.ReactTable.-borderless .rt-tbody .rt-td,
.ReactTable.-borderless .rt-thead .rt-td,
.ReactTable.-borderless .rt-tfoot .rt-td {
  border-right: none;
}

.ReactTable .rt-tbody .rt-tr-group:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.ReactTable.-borderless .rt-tbody .rt-tr-group {
  border-bottom: none;
}

/* Column group headers */
.ReactTable .rt-thead.-headerGroups {
  background: inherit;
  border-bottom: inherit;
}

.ReactTable .rt-th.-headerGroup:after {
  content: '';
  position: absolute;
  margin: auto;
  left: 8px;
  right: 8px;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.ReactTable.-outlined .rt-th.-headerGroup:after,
.ReactTable.-bordered .rt-th.-headerGroup:after {
  left: 0;
  right: 0;
}

/* Sort icons */
.ReactTable .-sort-desc {
  box-shadow: none !important;
}

.ReactTable .-sort-asc {
  box-shadow: none !important;
}

.ReactTable .rt-th[aria-sort] .-sort-left:after {
  padding-right: 5px;
}

.ReactTable .rt-th[aria-sort] .-sort-right:after {
  padding-left: 5px;
}

.ReactTable .rt-th[aria-sort=ascending] .-sort-left:after,
.ReactTable .rt-th[aria-sort=ascending] .-sort-right:after {
  content: "\2191";
}

.ReactTable .rt-th[aria-sort=descending] .-sort-left:after,
.ReactTable .rt-th[aria-sort=descending] .-sort-right:after {
  content: "\2193";
}

.ReactTable .rt-th[aria-sort=none] .-sort:after {
  content: "\2195";
  opacity: 0.4;
}

/* Conditional expanders */
.ReactTable .rt-expandable.rt-expand-disabled {
  cursor: unset;
}
