/* Table headers */
.ReactTable .rt-thead {
  font-weight: 600;
}

.ReactTable .rt-th,
.ReactTable .rt-td {
  padding: 7px 8px;
}

.ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead .rt-td {
  padding: 6px 8px;
}

/* Pagination */
.ReactTable .-pagination {
  box-shadow: inherit;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

/* Column alignment */
.ReactTable .rt-col-left {
  text-align: left;
}

.ReactTable .rt-col-right {
  text-align: right;
}

.ReactTable .rt-col-center {
  text-align: center;
}

/* Bordered/outlined styles */

/* Table */
.ReactTable {
  border: none;
}

.ReactTable.-outlined {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* Headers */
.ReactTable .rt-thead.-header {
  box-shadow: inherit;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.ReactTable.-striped .rt-thead.-header {
  border-bottom-width: 1px;
}

/* Cells */
.ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead .rt-td {
  border-right: none;
}

.ReactTable.-outlined .rt-thead .rt-th,
.ReactTable.-outlined .rt-thead .rt-td {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.ReactTable .rt-tbody .rt-td {
  border-right: none;
}

.ReactTable.-outlined .rt-tbody .rt-td {
  border-right: 1px solid rgba(0, 0, 0, 0.02);
}

.ReactTable .rt-tbody .rt-tr-group {
  border-bottom: none;
}

.ReactTable.-bordered .rt-tbody .rt-tr-group {
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
}

/* Column header groups */
.ReactTable .rt-thead.-headerGroups {
  background: inherit;
  border-bottom: inherit;
}

.ReactTable .rt-th.-headerGroup:after {
  content: '';
  position: absolute;
  margin: auto;
  left: 8px;
  right: 8px;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.ReactTable.-outlined .rt-th.-headerGroup:after {
  left: 0;
  right: 0;
}
