.Reactable {
  position: relative;
  display: flex;
  flex-direction: column;
}

.Reactable * {
  box-sizing: border-box;
}

.Reactable .rt-table {
  flex: auto 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  border-collapse: collapse;
  overflow: auto;
}

.Reactable .rt-thead {
  display: flex;
  flex-direction: column;
}

.Reactable .rt-thead .rt-th,
.Reactable .rt-thead .rt-td {
  line-height: normal;
  position: relative;
}

/* Allow resizers to overflow (except the last one) */
.Reactable .rt-th.rt-th-resizable {
  overflow: visible;
}

.Reactable .rt-th.rt-th-resizable:last-child {
  overflow: hidden;
}

.Reactable .rt-tbody {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.rt-td-expandable {
  cursor: pointer;
}

.Reactable .rt-tr-group {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.Reactable .rt-tr {
  flex: 1 0 auto;
  display: flex;
}

.Reactable .rt-th,
.Reactable .rt-td {
  flex: 1 0 0;
  overflow: hidden;
}

.Reactable .rt-resizer {
  display: inline-block;
  position: absolute;
  width: 36px;
  top: 0;
  bottom: 0;
  right: -18px;
  cursor: col-resize;
  z-index: 10;
}

.Reactable .rt-tfoot {
  display: flex;
  flex-direction: column;
}

.Reactable .rt-resizing .rt-th,
.Reactable .rt-resizing .rt-td {
  transition: none !important;
  cursor: col-resize;
  user-select: none;
}
