.ReactTable {
  height: 100%;
  background-color: #fff;
}

.rt-inline {
  display: inline-flex;
}

/* Table cells/headers */
.rt-th {
  font-weight: 600;
}

.rt-th,
.rt-td {
  padding: 7px 8px;
  overflow-wrap: break-word;
  /* For IE 11 */
  max-width: 100%;
  word-wrap: break-word;
}

.rt-compact .rt-th,
.rt-compact .rt-td {
  padding: 4px 6px;
}

.rt-nowrap .rt-th,
.rt-nowrap .rt-td {
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Selectable cells */
.rt-td-select {
  padding: 0;
}

.rt-td-select-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
}

.rt-td-select-label input[type='checkbox'],
.rt-td-select-label input[type='radio'] {
  margin: 0;
}

.rt-th.rt-td-select div {
  height: 100%;
}

/* Column alignment */
.rt-align-left {
  text-align: left;
}

.rt-align-right {
  text-align: right;
}

.rt-align-center {
  text-align: center;
}

/* Outer table borders */
.rt-outlined .rt-table,
.rt-bordered .rt-table {
  border: 1px solid hsl(0, 0%, 90%);
}

/* Header borders */
.rt-th {
  border-bottom: 2px solid hsl(0, 0%, 90%);
}

.rt-outlined .rt-th,
.rt-bordered .rt-th {
  border-bottom-width: 1px;
}

/* Cell and footer borders */
.rt-td {
  border-top: 1px solid hsl(0, 0%, 95%);
}

.rt-tr-group:first-child > .rt-tr:first-child .rt-td {
  border-top: none;
}

.rt-borderless .rt-td {
  border-top: none;
}

.rt-tfoot .rt-td {
  border-top: 1px solid hsl(0, 0%, 90%);
}

.rt-bordered .rt-td,
.rt-bordered .rt-th {
  border-left: 1px solid rgba(0, 0, 0, 0.05);
}

.rt-bordered .rt-td:first-child,
.rt-bordered .rt-th:first-child {
  border-left: none;
}

/* Header group borders */
.-headerGroups .rt-th {
  border-bottom: none;
}

.rt-th.-headerGroup:after {
  /* Custom borders with spacing */
  content: '';
  position: absolute;
  margin: auto;
  left: 8px;
  right: 8px;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.rt-outlined .rt-th.-headerGroup:after,
.rt-bordered .rt-th.-headerGroup:after {
  /* Remove spacing with outlined/bordered style */
  left: 0;
  right: 0;
}

/* Custom row stripe style to prevent bleed-through to nested tables */
.rt-tr-striped {
  background-color: rgba(0, 0, 0, 0.03);
}

/* Custom highlight style to prevent bleed-through to nested tables */
.rt-tr-highlight:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/* Sticky headers/footers */
@supports (position: sticky) {
  .ReactTable .rt-table {
    background: inherit;
  }

  .ReactTable .rt-tbody {
    /* Override default */
    overflow: visible;
  }

  .ReactTable .rt-thead.-header {
    position: sticky;
    top: 0;
    background: inherit;
    z-index: 1;
  }

  .ReactTable .rt-tfoot {
    position: sticky;
    bottom: 0;
    background: inherit;
  }
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  /* Keep body aligned with headers/footers in IE 11 */
  .ReactTable .rt-tbody {
    overflow: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}

/* Filters */
.rt-td-filter {
  border-top: 0;
  border-bottom: 1px solid hsl(0, 0%, 95%);
}

.rt-borderless .rt-td-filter {
  border-bottom: 0;
}

.rt-filter {
  padding: 5px 7px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  outline-width: 0;
  outline-style: solid;
}

.rt-filter:focus {
  border: 1px solid rgba(0, 0, 0, 0.25);
}

/* Sorting */
.rt-sort-header {
  display: flex;
}

.rt-align-center .rt-sort-header {
  justify-content: center;
}

.rt-align-right .rt-sort-header {
  justify-content: flex-end;
}

.rt-th {
  outline-width: 0;
  outline-style: solid;
}

.rt-th[aria-sort] .rt-sort-left:after {
  padding-right: 5px;
  line-height: 0;
}

.rt-th[aria-sort] .rt-sort-right:after {
  padding-left: 5px;
  line-height: 0;
}

.rt-th[aria-sort='ascending'] .rt-sort-left:after,
.rt-th[aria-sort='ascending'] .rt-sort-right:after {
  content: '\2191';
}

.rt-th[aria-sort='descending'] .rt-sort-left:after,
.rt-th[aria-sort='descending'] .rt-sort-right:after {
  content: '\2193';
}

.rt-th[aria-sort='none'] .rt-sort:after {
  content: '\2195';
  opacity: 0.4;
}

.rt-th[data-sort-hint='ascending'] .rt-sort-left:after,
.rt-th[data-sort-hint='ascending'] .rt-sort-right:after {
  content: '\2191';
  opacity: 0.4;
}

.rt-th[data-sort-hint='descending'] .rt-sort-left:after,
.rt-th[data-sort-hint='descending'] .rt-sort-right:after {
  content: '\2193';
  opacity: 0.4;
}

/* Expanders */
.rt-expander-button {
  margin: 0 2px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.rt-expander {
  padding: 0 8px;
  outline-width: 0;
  outline-style: solid;
}

/* Pagination */
.rt-pagination {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 6px 4px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.rt-outlined .rt-pagination,
.rt-bordered .rt-pagination {
  border-top: none;
}

.rt-pagination-info :not(:last-child) {
  margin-right: 16px;
}

.rt-page-info {
  display: inline-block;
  margin: 6px 8px;
  color: rgba(0, 0, 0, 0.6);
}

.rt-page-size {
  display: inline-block;
  margin: 0 8px;
}

.rt-page-size-select {
  margin: 0 2px;
}

.rt-page-size-select,
.rt-page-jump,
.rt-page-button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}

.rt-page-size-select,
.rt-page-jump {
  background-color: #fff;
  padding: 3px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

/* Restyle native select on Firefox */
@supports (-moz-appearance: none) {
  .rt-page-size-select {
    -moz-appearance: none !important;
    padding-right: 12px;
    background: transparent
      url('data:image/gif;base64,R0lGODlhBgAGAKEDAFVVVX9/f9TU1CgmNyH5BAEKAAMALAAAAAAGAAYAAAIODA4hCDKWxlhNvmCnGwUAOw==')
      right center no-repeat !important;
    background-position: right 6px center !important;
  }
}

.rt-page-button {
  padding: 0;
  border: none;
  background-color: transparent;
  outline-width: 0;
  outline-style: solid;
  cursor: pointer;
}

.rt-page-button:disabled {
  color: rgba(0, 0, 0, 0.5);
  cursor: default;
}

.rt-page-button:hover:disabled {
  background-color: transparent;
}

.rt-page-button-content {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 3px;
  outline-width: 0;
  outline-style: solid;
}

.rt-page-button:not(:disabled):hover > .rt-page-button-content {
  background-color: rgba(0, 0, 0, 0.04);
}

.rt-page-button:not(:disabled):active > .rt-page-button-content {
  background-color: rgba(0, 0, 0, 0.08);
}

.rt-page-button:focus > .rt-page-button-content {
  background-color: rgba(0, 0, 0, 0.04);
}

.rt-page-button-active > .rt-page-button-content {
  font-weight: bold;
}

.rt-page-ellipsis {
  margin: 0 4px;
  pointer-events: none;
}

.rt-page-numbers {
  display: inline-block;
  margin: 0 8px;
  white-space: nowrap;
}

.rt-page-jump {
  width: 70px;
  text-align: center;
}

/* No data */
.rt-tbody-noData {
  position: relative;
}

.rt-tbody-noData .rt-td {
  border-color: transparent;
}

/* Search */
.rt-search {
  display: block;
  align-self: flex-end;
  margin-bottom: 8px;
  padding: 5px 7px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  outline-width: 0;
  outline-style: solid;
  font-family: inherit;
  font-size: inherit;
}

.rt-search:active,
.rt-search:focus {
  border: 1px solid rgba(0, 0, 0, 0.25);
}
